body {
    background: url('taskmanager.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container {
    background-color: rgb(39, 125, 200);
}